# Symfony
episodes/*/app/var/
episodes/*/app/vendor/
episodes/*/app/.env.local
episodes/*/app/.env.local.php
episodes/*/app/.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db